extends ../layout

block content
	h1 filtering
	table.table.table-sm.table-dark
		thead
			tr
				th(scope="col") os
				th(scope="col") device
				th(scope="col") lan_geo
				th(scope="col") designer
				th(scope="col") preview
				th(scope="col") created
		tbody
			for row in rows
				tr
					//- th(scope="row")
					td #{row.os_name}
					td #{row.dev_name}
					td #{row.language} (#{row.country})
					td #{row.firstname} #{row.lastname}
					td
						img.smalimg(src=`${row.preview}`)
					td #{row.create_time}
