extends ../layout

block content
	h1 filtering

	form(action="/filtering", method="post")
		table.table.table-sm.table-dark
			thead
				tr
					th(scope="col")
						select.dropdown.custom-select(name="os" id="osdrop" onchange="this.form.submit()")
							option(value="") os
							each item in m_os
								option(value=item.nickname) #{item.name}

					th(scope="col")
						select.dropdown.custom-select(name="dev" id="devdrop" onchange="this.form.submit()")
							option(value="") device
							each item in m_dev
								option(value=item.nickname) #{item.name}

					th(scope="col")
						select.dropdown.custom-select(name="lan" id="landrop" onchange="this.form.submit()")
							option(value="") language (country)
							each item in m_lan
								option(value=item.lan_geo) #{item.language} (#{item.country})

					th(scope="col")
						select.dropdown.custom-select(name="designer" id="designerdrop" onchange="this.form.submit()")
							option(value="") designer
							each item in m_designer
								option(value=item.id) #{item.firstname} #{item.lastname}

					th(scope="col") preview

					th(scope="col")
						select.dropdown.custom-select(name="create_time" id="create_timedrop" onchange="this.form.submit()")
							option(value=false) create time
							option(value=false) latest first
							option(value=true) earliest first

					th(scope="col") link
			tbody
				for row in rows
					tr
						td #{row.os_name}
						td #{row.dev_name}
						td #{row.language} (#{row.country})
						td
							a(href=`/personalpage/?id=${row.designer_id}`) #{row.firstname} #{row.lastname}
						td
							img.smalimg(src=`${row.preview}`)
						td #{row.create_time}
						td
							a(href=`/screenshot/?psd_id=${row.psd_id}`) visit
