extends ../layout

block content
	a(href=`${m_page.link}`) #{m_page.name}
	p #{m_page.comment}
	p #{m_page.create_time.toLocaleString()}
	p
		| by
		a(href=`/personalpage/?id=${m_author_id}`)  #{m_author_fullname}
	form(action="/contman/addplaceholder", method="post")
		input(type="hidden" name="id" value=`${m_page.id}`)
		button.btn.btn-secondary(type="sumbit") add placeholder
