extends ../layout

block content
	a(href=`${m_page.link}`) #{m_page.name}
	p #{m_page.comment}
	p #{m_page.create_time.toLocaleString()}
	p
		| by
		a(href=`/personalpage/?id=${m_author_id}`)  #{m_author_fullname}
	a.btn.btn-secondary(href="/contman/addplaceholder") add placeholder
