extends ../layout

block content
	if (m_screen)
		div.container
		div.row
			div.col-sm
				p
				| for
				a(href="#")  #{m_os_name.name}
				a(href="#")  #{m_device_name.name}
				p #{m_language}
				p #{m_screen.content}
				p #{m_screen.height} x #{m_screen.width}
				p
					| by
					a(href=`/personalpage/?id=${m_author_id}`)  #{m_author_fullname}
				p #{m_screen.create_time}
				if (origin_id)
					p
						a(href=`/screenshot/?psd_id=${origin_id}`) origin file
				else
					p
						a(href=`/listoflocals/?psd_id=${m_screen.id}`) list of locals
				a(href=`/listofversions/?psd_id=${m_screen.id}`) list of versions
				h3(style="color: red") versions and parents
			div.col-sm
				img.personalpic(src=`${m_screen.preview}`)
		a.btn.btn-secondary.mb-2(href=`/download_psd/?psd_id=${m_screen.id}`) download psd
		a.btn.btn-secondary(href=`/download_tif/?psd_id=${m_screen.id}`) download tif
