extends ../layout

block content
	if (m_screen)
		div.container
			div.row
				div.col-sm
					p
					| for #{m_os_name.name},	#{m_device_name.name},	#{m_screen.height} x #{m_screen.width}
					p #{m_language}
					p #{m_screen.content}
					p version ##{m_screen.version} by
						a.linkfontstyle(href=`/personalpage/?id=${m_author_id}`)  #{m_author_fullname}
					p #{m_screen.create_time.toLocaleString()}
					p
						if (origin_id)
							a.linkfontstyle(href=`/screenshot/?psd_id=${origin_id}`) origin file
						else
							a.linkfontstyle(href=`/listofscreenlocals/?psd_id=${m_screen.id}`) list of locals
					p
						a.linkfontstyle(href=`/listofscreenversions/?psd_id=${m_screen.id}`) 	list of versions
					a.btn.btn-secondary(href=`/download_psd/?psd_id=${m_screen.id}`) download psd
					a.btn.btn-secondary(href=`/download_tif/?psd_id=${m_screen.id}`) download tif
					br
					if (`${type}` == 1)
						div.mt-2
							if (!origin_id)
								a.btn.btn-secondary(href=`/designer/localize/?psd_id=${m_screen.id}`) localize
							a.btn.btn-secondary(href=`/designer/modify/?psd_id=${m_screen.id}`) modify
				div.col-sm
					img.screenpic(src=`${m_screen.preview}`)
