doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title WebApp &middot; Luchina


  //- script(src="/js/bootstrap.js")
  //- script(src="/js/bootstrap.min.js")
  //- script(src="/js/bootstrap.bundle.min.js")

  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(src="/js/myscript.js")

  //- link(href='/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  //- link(rel='icon' href='/images/coala.png' sizes='32x32' type='image/png')
  meta(name='theme-color' content='#563d7c')

  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href='/css/cover.css' rel='stylesheet')
  link(href='/css/mystuff.css' rel='stylesheet')
body
  div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      .inner
        h3.masthead-brand Cover
        nav.nav.nav-masthead.justify-content-center
          a.nav-link.active(href='/') Home
          a.nav-link(href='/features') Features
          if (`${type}` == 1 || `${type}` == 2 || `${type}` == 3)
            div.nav-item.dropdown.ml-3
                a.nav-link.dropdown-toggle(id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showdropdown('desdrop')")
                  | Action
                div.dropdown-menu(aria-labelledby="navbarDropdown", id="desdrop")
                  a.dropdown-item(href='/findscreenshot') find sreenshot
                  a.dropdown-item(href='/findpage') find page
                  if (`${type}` == 1)
                    a.dropdown-item(href='/designer/create') create psd
                    a.dropdown-item(href='/designer/localize') localize psd
                    a.dropdown-item(href='/designer/modify') modify psd
                  else if (`${type}` == 2)
                    a.dropdown-item(href='/contman/create') create matrix
                    a.dropdown-item(href='/contman/findtomodify') modify/publish matrix
                  div.dropdown-divider
                  a.dropdown-item(href='/auth/logout') log out

    block content
    footer.text-center.mastfoot.mt-auto
      .inner
        p
          | made by
          a(href='https://github.com/IamLena/websqlnodeapp')  Luchina Lena

