extends ../layout

block content
	form(action='/designer/create', method='post', enctype="multipart/form-data")
		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="inputcode") code
			if (m_code)
				input.form-control(id="inputcode", placeholder="enter code", name="code", value=`${m_code}`)
			else
				input.form-control(id="inputcode", placeholder="enter code", name="code")

		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="inputcontent") content
			if (m_content)
				input.form-control(id="inputcontent", placeholder="enter content", name="content", value=`${m_content}`)
			else
				input.form-control(id="inputcontent", placeholder="enter content", name="content")

		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="inputheight") height
			input.form-control(type="number" id="inputheight", placeholder="enter heigh", name="height", value=`${m_height}`)

			div.input-group-prepend
				label.input-group-text(for="inputwidth") width
			input.form-control(type="number" id="inputwidth", placeholder="enter width", name="width", value=`${m_width}`)

			div.input-group-prepend
				label.input-group-text(for="inputppi") ppi
			input.form-control(type="number" id="inputppi", placeholder="enter ppi", name="ppi", value=`${m_ppi}`)

		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="lan_geo") language
				select.custom-select(name="lan_geo", id="lan_geo", onchange="this.form.submit()")
					if (m_pickedlan)
						option(value=`${m_pickedlan.lan_geo}`) #{m_pickedlan.language} (#{m_pickedlan.country})
					else
						option(value="") choose language...
					each lan in m_lans
						option(value=lan.lan_geo) #{lan.language} (#{lan.country})

		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="inputos") operating system
				select.custom-select(name="os", id="inputos", onchange="this.form.submit()")
					if (m_pickedos)
						option(value=`${m_pickedos.nickname}`) #{m_pickedos.name}
					else
						option(value="") choose os...
					each m_os in m_oss
						option(value=m_os.nickname) #{m_os.name}

			div.input-group-prepend
				label.input-group-text(for="inputdevice") device
				select.custom-select(name="device", id="inputdevice", onchange="this.form.submit()")
					if (m_pickeddev)
						option(value=`${m_pickeddev.nickname}`) #{m_pickeddev.name}
					else if (m_pickedos)
						option(value="") choose device...
					else
						option(value="") choose os first
					each m_dev in m_devices
						option(value=m_dev.nickname) #{m_dev.name}

		div.input-group.form-row.mb-1
			label.btn.btn-file(for="inputgrab" id="add grab") add grab
			input.input-file(type="file" id="inputgrab", name="grab", accept=".png", onchange="changefile('add grab', this.files[0].name)")

			label.btn.btn-file(for="inputpsd" id="add .psd") add .psd
			input.input-file(type="file" id="inputpsd", name="psd", accept=".psd, .psb", onchange="changefile('add .psd', this.files[0].name)")

			label.btn.btn-file(for="inputtif" id="add .tif") add .tif
			input.input-file(type="file" id="inputtif", name="tif", accept=".tif", onchange="changefile('add .tif', this.files[0].name)")

			label.btn.btn-file(for="inputpreview" id="add preview") add preview
			input.input-file(type="file" id="inputpreview", name="preview",accept=".png", onchange="changefile('add preview', this.files[0].name)")

		button.btn.btn-block.btn-success(type='submit') upload

		if (message)
			p.text-center.text-warning #{message}
		else
			p.text-center.text-warning &nbsp;

