extends ../layout
block content
	div.container
		div.row
			div.col-sm
				img.personalpic(src='/images/anon.png')
			div.col-sm
				h4 designer
				h1 #{firstname} #{lastname}
				p #{lan_geo}
				if `${show}` != 'true'
					div
						//img
						a(href=`mailto:${email}`) send email
				br
				if `${show}` == 'true'
					div
						a.btn.btn-info(href=`/designer/create/?login=${login}&lan_geo=${lan_geo}`) create
						a.btn.btn-info(href='/designer/localize') localize
						a.btn.btn-info(href='/designer/modify') modify
				form.bottom(action="/auth/logout", method="post")
					button.btn.btn-secondary log out
