extends ../layout

block content
	a(href=`${m_page.link}`) #{m_page.name}
	p #{m_page.comment}  #{m_page.create_time.toLocaleString()}
		| by
		a(href=`/personalpage/?id=${m_author.id}`)  #{m_author.fullname}

	table.table.table-sm.table-dark
		thead
			tr
				form(action=`/filtering placeholders in one page`, method="post")
					th(scope="col") link
					th(scope="col") preview
					th(scope="col") comment

					th(scope="col") origin tif (#{m_author.lan})
					th(scope="col") tif preview
					th(scope="col") tif content
		tbody
			for row in m_rows
				tr
					td
						a(href=`${row.link}`) #{row.link}
					td
						img.smalimg(src=`${row.link}`)
					td #{row.comment}
					td
						a(href=`/screenshot/?psd_id=${row.psd_id}`) link
					td
						img.smalimg(src=`${row.preview}`)
					td #{row.content}

	form.mb-2(action="/contman/addplaceholder", method="post")
		input(type="hidden" name="id" value=`${m_page.id}`)
		button.btn.btn-secondary(type="sumbit") add placeholder

	form.mb-2(action="/contman/publish", method="post")
		input(type="hidden" name="id" value=`${m_page.id}`)
		button.btn.btn-secondary(type="sumbit") publish
