extends ../layout

block content
	h1 filtering

	form(action="/contman/findtomodify", method="post")
		div.tableWrap
			table.table.table-sm.table-dark
				thead
					tr
						th(score="col") link
						th(scope="col") name
						th(scope="col") comment
						th(scope="col") author
						th(scope="col") create_time
						th(scope="col") version
				tbody
					for row in rows
						tr
							td
								a.linkfontstyle(href=`${row.link}`) #{row.link}
							td #{row.name}
							td #{row.comment}
							td
								a.linkfontstyle(href=`/personalpage/?id=${row.cm_id}`) #{row.firstname} #{row.lastname}

							td #{row.create_time.toUTCString().split(' ').slice(1, 5).join(' ')}
							td
								a.linkfontstyle(href=`/contman/modify/?page_id=${row.id}`) v#{row.version}
